.container {
    height: 100%;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
    margin: 20px 0;
}

span {
    margin: 10px 0;
    color: white;
}

button {
    margin: 10px 0;
}

.description {
    overflow: scroll;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert {
    z-index: -10;
}