form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.description {
    width: 300px;
    height: 200px;
}

input {
    margin-bottom: 10px;
}